services:
  mysql_getresults:
    image: mysql:8.0.33-oracle
    container_name: mysql_getresults
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - getresults-network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  scraper:
    image: getresultscraperdev
    container_name: get_results_scraper
    depends_on:
      mysql_getresults:
        condition: service_healthy
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    networks:
      - getresults-network
    env_file:
      - .env
    environment:
      - ENV=production
      - MYSQL_HOST=mysql_getresults
      - MYSQL_PORT=3306
    ports:
      - "5001:5000"
    command: [ "python", "scraping_scheduler.py" ]

  phpmyadmin:
    image: phpmyadmin:5
    container_name: phpmyadmin
    restart: always
    depends_on:
      mysql_getresults:
        condition: service_healthy
    environment:
      PMA_HOST: mysql_getresults
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "8080:80"
    networks:
      - getresults-network

  admin_panel:
      image: cedsanc/get-results-panel:latest
      container_name: get_results_admin
      restart: always
      depends_on:
        mysql_getresults:
          condition: service_healthy
      env_file:
        - .env
      environment:
        # Construction de l'URL Prisma via les variables du service MySQL
        # Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
        - DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql_getresults:3306/${MYSQL_DATABASE}
      ports:
        - "3000:3000"
      networks:
        - getresults-network
volumes:
  mysql-data:

networks:
  getresults-network:
