services:
  mysql_getresults:
    image: mysql:8.0.33-oracle
    container_name: mysql_getresults
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}

    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - getresults-network
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u$MYSQL_USER -p$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  scraper:
    image: cedsanc/getresultscraper:latest
    container_name: get_results_scraper
    depends_on:
      mysql_getresults:
        condition: service_healthy
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    networks:
      - getresults-network
    env_file:
      - .env
    environment:
      - ENV=production
      - MYSQL_HOST=mysql_getresults
      - MYSQL_PORT=3306
    ports:
      - "5001:5000"
    command: [ "python", "scraping_scheduler.py" ]

  phpmyadmin:
    image: phpmyadmin:5
    container_name: phpmyadmin
    restart: always
    depends_on:
      mysql_getresults:
        condition: service_healthy
    environment:
      PMA_HOST: mysql_getresults
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "8080:80"
    networks:
      - getresults-network

  # --- BACKEND SPRING BOOT ---
  backend:
    image: cedsanc/getresultsbackend:latest
    container_name: getresults_backend
    restart: always
    depends_on:
      mysql_getresults:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql_getresults:3306/${MYSQL_DATABASE}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
      - SPRING_API_KEY=${SPRING_API_KEY}
    networks:
      - getresults-network
    env_file:
      - .env

volumes:
  mysql-data:

networks:
  getresults-network: